{% extends 'base.html' %}

{% block content %}
<h1>Add person</h1>
<form method="post" name="Person_info" enctype="multipart/form-data" action=".">{% csrf_token %}
    <table>
        <tr><td><b>Surname:</b></td>
            <td><input type="text" name="surname" size=20></td></tr>
        <tr><td><b>Name:</b></td>
            <td><input type="text" name="name" size=20></td></tr>
        <tr><td><b>Patronymic:</b></td>
            <td><input type="text" name="patronymic" size=20></td></tr>
        <tr><td><b>Photo:</b></td>
            <td><input id="image-file" type="file" name="photo">
    </table>
    <input type="hidden" name="action" value="save"/>
    <input type="submit" name="save_person" value="Save"/>
    <input type="reset" name="reset" value="Reset"/>
</form>
{% endblock %}}
