{% extends 'base.html' %}

{% block content %}
<h1>Find person</h1>
<form method="post" name="Person_info" enctype="multipart/form-data" action=".">{% csrf_token %}
    <table>
        <tr><td><b>Surname:</b></td>
            <td><input type="text" name="surname" size=20></td></tr>
        <tr><td><b>Name:</b></td>
            <td><input type="text" name="name" size=20></td></tr>
        <tr><td><b>Patronymic:</b></td>
            <td><input type="text" name="patronymic" size=20></td></tr>
    </table>
    <input type="hidden" name="action" value="search"/>
    <input type="submit" name="search" value="Search"/>
    <input type="reset" name="reset" value="Reset"/>
</form>

    {% for person in persons %}
        <b>------------------------------------</b>
        {% for key, value in person.items %}
            <ul>
                <li>{{ key }}: {{ value }}</li>
            </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}

